<div
  class="hero"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">{{ title }}</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button (click)="toggleForm()" class="btn btn-neutral">
        {{ changeToggleButton() }}
      </button>
    </div>
  </div>
</div>

<div class="flex flex-col gap-4 items-center mt-10">
  @if (shwoForm) {
  <input
    type="text"
    [placeholder]="defaultTodo"
    class="input input-bordered input-primary w-full max-w-xs"
  />
  <button class="btn btn-wide btn-primary">Create</button>
  } @else {
  <p>Click the show the button above</p>
  }

  <ul class="menu bg-base-200 rounded-box w-80">
    @for (todo of todos; track id; let id = $index) {
    <li>
      <span> {{ todo }}</span>
      <div class="justify-end">
        <button class="btn btn-error btn-sm">Edit</button>
        <button class="btn btn-warning btn-sm">Delete</button>
      </div>
    </li>
    }
  </ul>
</div>
