@if (notify) {
<div class="toast" [ngClass]="[notification.position]">
  <div class="alert" [ngClass]="[notification.alertClass]">
    <span>{{ notification.message }}</span>
  </div>
</div>
}

<div
  class="hero"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">{{ title }}</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button
        [ngStyle]="{
          color: editable ? 'red' : 'green',
          'font-size': editable ? '10px' : '20px'
        }"
        (click)="toggleForm()"
        class="btn btn-neutral"
        [ngClass]="{
          'btn-primary': shwoForm && !editable,
          'btn-neutral': !shwoForm,
          'btn-warning': editable
        }"
      >
        {{ changeToggleButton() }}
      </button>
    </div>
  </div>
</div>

<div class="flex flex-col gap-4 items-center mt-10">
  @if (shwoForm) {
  <input
    (keyup.enter)="submit()"
    [(ngModel)]="myTodo"
    type="text"
    [placeholder]="defaultTodo"
    class="input input-bordered input-primary w-full max-w-xs"
  />

  @if (editable) {
  <div class="flex gap-10">
    <button class="btn w-52 btn-warning" (click)="submit()">Update</button>
    <button class="btn btn-neutral" (click)="cancel()">Cancel</button>
  </div>

  } @else {
  <button class="btn btn-wide btn-primary" (click)="submit()">Create</button>
  } } @else {
  <p>Click the show the button above</p>
  }
  <ul class="menu bg-base-200 rounded-box w-80">
    @for (todo of todos; track id; let id = $index; let e = $even; let o = $odd;
    let f= $first ; let l =$last ) {
    <li>
      <!-- <span> {{ todo }} - {{ l }} - {{ f }} - {{ id }} - {{ o }}</span> -->
      <span (dblclick)="deleteTodo(id)"> {{ todo }} </span>
      <div class="justify-end">
        <button
          data-tip="Edit"
          class="btn btn-error btn-sm tooltip"
          (click)="editTodo(todo, id)"
        >
          <app-edit-icon></app-edit-icon>
        </button>

        @if (!editable) {
        <button class="btn btn-warning btn-sm" (click)="deleteTodo(id)">
          <app-delete-icon></app-delete-icon>
        </button>

        }
      </div>
    </li>
    } @empty {
    <li>No todos yet</li>
    }
  </ul>
</div>
